<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--******************************    Favicon Ninja     ************************************ -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../public/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../public/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/Favicon/favicon-16x16.png">
    <link rel="manifest" href="../../public/Favicon/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- ***************************   Bootstrap CSS    ***************************************-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/Style.css">
    <title>Voosh Assignment Backend Developer</title>
</head>

<body>
    <h1 class="text-center mt-3 text-primary ">E-commerce Recipe</h1>
    <div class="container-fluid ">
        <hr>
   
        <a class="inline-block align-baseline font-bold text-sm " href="/logout">
          <button class="float-end"> Logout </button> 
        </a>
        <div class="wrapper ">
            <div class="row justify-content-center mt-2">
                <div class="smoothie">

                    <ul class="recipes">
                        <li class="recipe">
                            <img src="./images/smoothie.png" alt="smoothie recipe icon">
                            <h4>Banana Boost</h4>
                            <p>Banana, Vanilla ice cream, Milk</p>
                            <a href="/smoothies" class="btn mt-2">Add Recipes</a>
                        </li>
                        <li class="recipe">
                            <img src="./images/smoothie.png" alt="smoothie recipe icon">
                            <h4>Apple Boost</h4>
                            <p>Peach, Pinapple, Apple juice</p>
                            <a href="/smoothies" class="btn mt-2">Add Recipes</a>
                        </li>
                        <li class="recipe">
                            <img src="./images/smoothie.png" alt="smoothie recipe icon">
                            <h4>Protein Packer</h4>
                            <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
                            <a href="/smoothies" class="btn mt-2">Add Recipes</a>
                        </li>
                        <li class="recipe">
                            <img src="./images/smoothie.png" alt="smoothie recipe icon">
                            <h4>Mango Boost</h4>
                            <p>Banana, Vanilla ice cream, Milk</p>
                            <a href="/smoothies" class="btn mt-2">Add Recipes</a>
                        </li>
                        <li class="recipe">
                            <img src="./images/smoothie.png" alt="smoothie recipe icon">
                            <h4>Black Boost</h4>
                            <p>Peach, Pinapple, Apple juice</p>
                            <a href="/smoothies" class="btn mt-2">Add Recipes</a>
                        </li>
                        <li class="recipe">
                            <img src="./images/smoothie.png" alt="smoothie recipe icon">
                            <h4>Protein Packer</h4>
                            <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
                            <a href="/smoothies" class="btn mt-2">Add Recipes</a>
                        </li>
                        <li class="recipe">
                            <img src="./images/smoothie.png" alt="smoothie recipe icon">
                            <h4>Yoga Boost</h4>
                            <p>Banana, Vanilla ice cream, Milk</p>
                            <a href="/smoothies" class="btn mt-2">Add Recipes</a>
                        </li>
                        <li class="recipe">
                            <img src="./images/smoothie.png" alt="smoothie recipe icon">
                            <h4>Fitness Gym</h4>
                            <p>Peach, Pinapple, Apple juice</p>
                            <a href="/smoothies" class="btn mt-2">Add Recipes</a>
                        </li>
                        <li class="recipe">
                            <img src="./images/smoothie.png" alt="smoothie recipe icon">
                            <h4>Gym Packer</h4>
                            <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
                            <a href="/smoothies" class="btn mt-2">Add Recipes</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>

</html>